	.container{
				border:4px solid #fff3;
				color:#17a2b8;
				font-family:arial;
				background-color:#f9f7fa;
				}
			.row{
				border:3px solid #fff;	
					
					
					}
			.col-8, .col-4{
				border:2px solid #fff;
				color:#007bff;
					}
				